html, body, .container-fluid, .row, .map { 
	height: 100%;
	margin: 0;
	padding: 0;
}

body { padding-top: 50px; }

.navbar-default{
	background-color: #fff;
	border: 0;
}

#map {
  width: 100%;
  height: 100%;
}

#infoWindow h1{
	color: #d12028;
}

#infoWindow h2{
	color: #aaa;
	text-align: right;
	font-size: 11px;
}


#loginWindow .nav-tabs {
    margin-bottom: 15px;
}
#loginWindow .sign-with {
    margin-top: 25px;
    padding: 20px;
}
#loginWindow div#OR {
    height: 30px;
    width: 30px;
    border: 1px solid #C2C2C2;
    border-radius: 50%;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    float: right;
    position: absolute;
    right: -16px;
    top: 40%;
    z-index: 1;
    background: #DFDFDF;
}