@import url(https://fonts.googleapis.com/css?family=Hind);
html,
body,
.container-fluid,
.row {
  margin: auto;
  padding: 0;
}
body {
  font-family: 'Hind', sans-serif;
}
@-webkit-keyframes busca {
  from {
    width: 0;
    margin-left: 195px;
  }
  to {
    width: 175px;
    margin-left: 20px;
  }
}
@keyframes busca {
  from {
    width: 0;
    margin-left: 195px;
  }
  to {
    width: 175px;
    margin-left: 20px;
  }
}
@-webkit-keyframes cancel {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes cancel {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content {
  display: block;
}
@media screen and (min-width: 960px) {
  .content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.navbar-default {
  background-color: #fff;
  border: 0;
}
.map {
  transition: width 0.5s;
  width: 100%;
  height: 45vh;
}
@media screen and (min-width: 960px) {
  .map {
    width: 50%;
    height: 90vh;
  }
}
#map {
  width: 100%;
  height: 100%;
  top: 10vh;
}
#loginButton {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 2px;
}
#mapLocal {
  height: 200px;
  width: 100%;
  display: none;
}
#loginWindow {
  display: none;
  background-color: #db5752;
}
#loginWindow .button-next {
  width: 90%;
}
#loginWindow label {
  color: white;
}
#botao {
  width: 40%;
  margin: auto;
  background-color: white;
  border: none;
  border-radius: 5px;
  margin: 30%;
  margin-bottom: 0;
  margin-top: 20px;
}
#botao h2 {
  color: #f94646;
  padding-top: 5px;
}
#bluetao {
  width: 40%;
  margin: auto;
  background-color: white;
  border: none;
  border-radius: 5px;
  margin: 30%;
  margin-bottom: 0;
  margin-top: 20px;
  color: #0091ff;
  outline: none;
  font-size: 12px;
}
.denunciar {
  background-color: #f94646;
  height: 45vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-top: 57px;
  float: right;
}
@media screen and (min-width: 960px) {
  .denunciar {
    height: 90vh;
    width: 50%;
    margin-top: 66px;
  }
}
.janeladafroralinda {
  max-width: 100%;
  margin: auto;
  overflow: scroll;
  height: 90vh;
  background-color: #db5752;
  padding-top: 10vh;
}
.pergunta {
  font-size: 28px;
  font-variant: bold;
  line-height: 34px;
  color: white;
  margin: auto;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
  display: block;
  width: 100%;
}
#log {
  background-color: #f76356;
}
.janeladafroralinda .resposta {
  font-size: 20px;
  line-height: 24px;
  margin: auto;
  text-decoration: none;
  color: white;
  border: none;
  text-align: left;
  padding-top: 20px;
  border-bottom: 2px solid #f76356;
  padding-bottom: 10px;
  width: 100%;
  font-family: Hind;
}
.janeladafroralinda .resposta:hover {
  background-color: #d8d9dd;
  color: white;
  cursor: pointer;
}
.demora {
  background: url('../img/relogio.svg') no-repeat;
  padding-left: 70px;
  background-size: 40px;
  background-position: 10px;
}
.medico {
  background: url('../img/cruz.svg') no-repeat;
  padding-left: 70px;
  background-size: 40px;
  background-position: 10px;
}
.plano {
  background: url('../img/carteira.svg') no-repeat;
  padding-left: 70px;
  background-size: 40px;
  background-position: 10px;
}
.ambulancia {
  background: url('../img/ambulancia.svg') no-repeat;
  padding-left: 70px;
  background-size: 40px;
  background-position: 10px;
}
.medicamentos {
  background: url('../img/remedios.svg') no-repeat;
  padding-left: 70px;
  background-size: 40px;
  background-position: 10px;
}
h1 {
  font-family: Hind;
  font-size: 32px;
  line-height: 38px;
  color: white;
  text-align: center;
  margin: 0;
  padding-top: 13%;
}
h2 {
  font-family: Hind;
  color: #3f476d;
}
p {
  font-family: Hind;
  font-size: 16px;
  line-height: 19px;
  color: #3f476d;
  text-align: center;
}
#obrigado {
  display: none;
}
#question-1 {
  display: none;
}
#question-1 .pergunta {
  background-color: #f76356;
}
#question-2 {
  display: none;
  background: #f76356;
}
#question-21 {
  display: none;
}
#question-22 {
  display: none;
}
#question-3 {
  display: none;
}
#question-4 {
  display: none;
}
#question-41 {
  display: none;
}
.complete {
  width: 70%;
  height: 30px;
  color: white;
  margin-top: 3%;
  margin-left: 12%;
  margin-right: 15%;
  border: solid 1px white;
  border-radius: 5px;
  font-variant: bold;
  font-size: 16px;
  padding: 10px;
  outline: none;
  background-color: #db5752;
}
.entrar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 78%;
  height: 50px;
  background-color: #db5752;
  color: white;
  border: none;
  border-radius: 5px;
  border: solid 1px white;
  margin: auto;
  margin-top: 10px;
  outline: none;
}
.entre {
  float: right;
  padding-right: 25px;
  outline: none;
}
#qual {
  display: none;
}
.qual {
  font-size: 20px;
  font-variant: bold;
  text-align: left;
  width: 80%;
  margin: 40px;
}
.footer {
  position: fixed;
  bottom: 30px;
  margin: 5%;
  right: 0;
  width: 90%;
}
.button-back {
  height: 26px;
  width: 98px;
  margin: 10px;
  border: solid 1px white;
  display: inline-block;
  border-radius: 5px;
  color: white;
  background-color: #f76356;
  padding: 0;
  outline: none;
  float: right;
}
.button-next {
  height: 26px;
  width: 98px;
  margin: 10px;
  display: inline-block;
  float: right;
  background-color: #0091ff;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 0;
  outline: none;
}
#anonimo {
  margin-left: 12%;
  margin-top: 15px;
}
.yes {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  color: white;
  background-color: #cccccc;
  font-variant: bold;
  margin-left: 25%;
  margin-right: 5%;
  outline: none;
  font-size: 30px;
}
.no {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  color: white;
  background-color: #cccccc;
  font-variant: bold;
  margin-right: 25%;
  float: right;
  outline: none;
  font-size: 30px;
}
#texto {
  background-color: #d8d9dd;
  border: none;
  margin-left: -5px;
  outline: none;
  width: 70%;
}
.triangulo {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent #d8d9dd transparent transparent;
  display: inline-block;
  margin-bottom: 49px;
}
.historia {
  width: 100%;
  background-image: url("../img/avatar.svg");
  background-size: 30px;
  background-position: top left;
  background-repeat: no-repeat;
  padding-top: 15px;
  padding-left: 30px;
  margin: auto;
  outline: none;
}
@media screen and (max-width: 960px) {
  .historia {
    background-image: none;
  }
}
.smaller {
  display: none;
}
@media screen and (min-width: 960px) {
  .smaller {
    width: 20%;
    display: inline-block;
  }
}
.smallerish {
  height: 15vh;
}
.bigger {
  width: 100%;
  height: 90vh;
}
@media screen and (min-width: 960px) {
  .bigger {
    width: 80%;
  }
}
.bigger #map {
  height: 100%;
}
.biggerish {
  width: 100%;
  height: 75vh;
}
.biggerish #map {
  height: 100%;
}
.selected {
  background-color: black;
}
.blue {
  display: inline-block;
  position: absolute;
  height: 45%;
  width: 100%;
  top: 10vh;
  left: 0;
}
@media screen and (min-width: 960px) {
  .blue {
    width: 50%;
  }
}
.form-group {
  right: 90px;
  top: 0;
}
.search-button {
  height: 30px;
  width: 30px;
  border: none;
  top: 0;
  outline: none;
  margin-top: 12px;
  position: fixed;
  right: 100px;
}
.search-button img {
  height: 100%;
}
.cancel-button {
  height: 15px;
  border: none;
  top: 0;
  outline: none;
  margin-top: 17px;
  float: right;
  display: none;
  padding-left: 25px;
  position: absolute;
  -webkit-animation-name: cancel;
  animation-name: cancel;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}
.cancel-button img {
  height: 100%;
}
.form-control {
  border: solid 1px white;
  background-color: #3f476d;
  border-radius: 5px;
  outline: 0;
  display: none;
  float: right;
  height: 30px;
  width: 175px;
  margin-top: 10px;
  margin-left: 20px;
  padding-left: 25px;
  -webkit-animation-name: busca;
  animation-name: busca;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.nav {
  list-style: none;
  margin-bottom: 0;
}
.navbar-nav {
  float: right;
  margin: 0;
  padding: 0;
}
.navbar-nav li {
  margin: 13px;
}
.navbar-nav li a {
  color: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  display: block;
  background-color: #0091ff;
  border-radius: 5px;
  width: 62px;
  height: 27px;
  text-decoration: none;
  font-variant: sans-serif;
  font-size: 14px;
}
.navbar-header {
  margin-right: 0;
  background-color: #3f476d;
  width: 100%;
  height: 10vh;
  position: fixed;
}
#bs-navbar-collapse-1 {
  display: inline-block;
  top: 0;
  margin: 0;
}
.navbar-form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.navbar-brand {
  display: inline-block;
  height: 30px;
  margin: 13px;
}
.navbar-brand img {
  height: 100%;
}
.horarios {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.horarios a {
  padding-top: 30px;
  transition-duration: 1s;
}
.horarios a:active svg {
  opacity: 0.4;
}
.horarios a.disabled {
  opacity: 0.4;
}
.horarios .clicks {
  padding-top: 55px;
}
.hora {
  font-size: 100px;
  color: white;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}

/*# sourceMappingURL=app.css.map */
