#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 15px;
  background-color: $blue-navy;
  color: white;
  font-size: 12px;
  line-height: 1;

  .logo {
    display: flex;

    svg {
      height: 20px;
      width: auto;
      margin-right: 10px;
      vertical-align: middle;
    }

    span {
      margin-top: 4px;
    }
  }
}
