@import "bootstrap/bootstrap";
@import "typeahead";

html, body, .container-fluid, .row, .map { 
	margin: auto;
	padding: 0;
}

body { padding-top: 50px; }

.navbar-default{
	background-color: #fff;
	border: 0;
}

.map {
  transition: width 0.5s;   
}

#map {
  width: 100%;
  height: 100vh;

  @media screen and (max-width: 960px) {
    height: 50vh;
    }
}

#mapLocal {
    height:200px;
    width:100%;
    display: none;
}

#infoWindow h1{
	color: #d12028;
}

#infoWindow h2{
	color: #aaa;
	text-align: right;
	font-size: 11px;
}

#loginWindow {
    display: none;
}

#botao {
    width: 40%;
    margin: auto;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin: 30%;
    margin-bottom: 0;
    margin-top: 20px;
    color: #f94646;
    outline: none;
    font-size: 24px;
}

.denunciar {
    background-color: #f94646;
    height: 50vh;
    width: 100%;
    margin: none;
    padding: 0;
        @media screen and (min-width: 960px) {
        height: 100vh;
        padding-top: 20%;
        }
}

.janeladafroralinda {
    max-width: 100%;
    margin: auto;
    overflow: scroll;
}

.pergunta {
    font-size: 56px;
    font-variant: bold;
    line-height: 67px;
    font: sans-serif;
    margin: auto;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    display: block;
    width: 100%;
    height: 45vh;
}

.janeladafroralinda .resposta {
    font-size: 40px;
    line-height: 48px;
    font: sans-serif;
    margin: auto;
    text-decoration: none;
    color: white;
    border: none;
    background-color: #1590ff;
    text-align: left;
    padding-top: 20px;
    border-bottom: 2px solid #d8d9dd;
    padding-bottom: 10px;
    width: 100%;
        
    &:hover {
        background-color: #d8d9dd;
        color: white;
        cursor: pointer;
    }

}

    .demora {
        background: url('../img/relogio.svg') no-repeat;
        padding-left: 80px;
        background-size: 70px;
        background-position: left;
    }
    .medico {
        background: url('../img/cruz.svg') no-repeat;
        padding-left: 80px;
        background-size: 70px;
        background-position: left;
    }
    .plano {
        background: url('../img/carteira.svg') no-repeat;
        padding-left: 80px;
        background-size: 70px;
        background-position: left;
    }
    .ambulancia {
        background: url('../img/ambulancia.svg') no-repeat;
        padding-left: 80px;
        background-size: 70px;
        background-position: left;
    }

    .medicamentos {
        background: url('../img/remedios.svg') no-repeat;
        padding-left: 80px;
        background-size: 70px;
        background-position: left;
    }

h1 {
    font-size: 64px;
    line-height: 77px;
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 10%;
}

p {
    font-size: 14px;
    text-align: center;
}

#obrigado {
    display: none;
}

#question-1 {
    display: none;
}

#question-2 {
    display: none;
}

#question-21 {
    display: none;
}

#question-22 {
    display: none;
}

#question-3 {
    display: none;
}

#question-4 {
    display: none;
}

#question-41 {
    display: none;
}

.complete {
    width: 70%;
    height: auto;
    background-color: #d8d9dd;
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    border: none;
    font-variant: bold;
    font-size: 20px;
    padding: 10px;
    outline: none;
}

.entrar {
    display: flex;
    justify-content: space-between;
    width: 70%;
    background-color: #eaeaea;
    color: #a3a3a3;
    border: none;
    margin: 15%;
    margin-bottom: 0;
    margin-top: 20px;
    padding-top: 10px;
    outline: none;
}

.entre {
    background-image: url('../img/avatar.svg');
    background-position: center right;
    background-repeat: no-repeat;
    float: right;
    padding-right: 25px;
    outline: none;
}

#qual {
    display: none;
}
.qual {
    font-size: 20px;
    font-variant: bold;
    text-align: left;
    width: 80%;
    margin: 40px;
}

.footer {
    display: flex;
    position: fixed;
    bottom: 30px;
    width: 90%;
    justify-content: space-between;
    margin: 5%;
}

.button-back {
    height: 40px;
    width: 100px;
    margin: 0;
    display: inline-block;
    border: solid 1px #3f476d;
    display: inline-block;
    border-radius: 5px;
    color: #3f476d;
    background-color: white;
    padding: 0;
    outline: none;
}


.button-next {
    height: 40px;
    width: 100px;
    margin: 0;
    display: inline-block;
    right: 0;
    background-color: #0091ff;
    color: white;
    border-radius: 5px;
    border: none; 
    padding: 0;
    outline: none;
}

.yes {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: white;
    background-color: #cccccc;
    font-variant: bold;
    margin-left: 35%;
    margin-right: 5%;
    outline: none;
}

.no {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: white;
    background-color: #cccccc;
    font-variant: bold;
    margin-right: 35%;
    float: right;
    outline: none;
}

#texto {
    background-color: #d8d9dd;
    border: none;
    margin-left: -5px;
    outline: none;
}

.triangulo {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 20px 0;
    border-color: transparent #d8d9dd transparent transparent;
    display: inline-block;
    margin-bottom: 84px;
}

.historia {
    width: 100%;
    background-image: url("../img/avatar.svg");
    background-size: 30px;
    background-position: top left;
    background-repeat: no-repeat;
    padding-top: 15px;
    padding-left: 30px;
    margin: auto;
    outline: none;

      @media screen and (max-width: 960px) {
            background-image: none;
        }
}

.smaller {
    display: none;
    @media screen and (min-width: 960px) {
        width: 20%;
        display: inline-block;
        }
}

.bigger {
    width: 100%;
    height: 100vh;
    @media screen and (min-width: 960px) {
        width: 80%;
        }
}

.selected {
    background-color: black;
}



